<link rel="stylesheet" href="/css/accountForm.css" />
<hr class="form-sep"></hr>
<form class="form-control">
    <ul>
        <li><label class="name-label formLabel form-element">Name</label>
            <input type="text" class="name-input formInput form-element" /></li>
        <li><label class="email-label formLabel form-element">Email</label>
            <input type="email" class="email-input formInput form-element" /></li>
        <li><label class="password-label formLabel form-element">Password</label>
            <input type="password" class="password-input formInput form-element" /></li>
    </ul>
</form>
