<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/javascript/index.js" defer></script>

</head>
<body>
    <nav class="navbar">
        <div class="brand-title">
            Creating With Our Creator
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
    </nav>

    <br class="BODY">
    <%- body %>
    <br>
    <div class="page-end">
        <ol>
            <li>
                <span><p>This site is not a part of the Facebook website or Facebook Inc. Additionally, this site is not endorsed by </p></span>
                <span><p>Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.</p></span>
                <span><p>PRIVACY POLICY</p></span>
            </li>
            <li><s></s></li>
            <li>
                <a href="#">Terms</a><p>-</p>
                <a href="#">Privacy Policy</a>
                <p>-www.creatingwithourcreator.net</p>
            </li>
        </ol>
    </div>
</body>
</html>
