<link rel="stylesheet" href="/css/home.css" />
<span class="logo-center">
    <img src="//www.creatingwithourcreator.net/hosted/images/2b/a5bed8cb8e4c9cb66a2427f517e2ab/CWOC-Blue-logo---SMALL.jpg" class="elIMG ximg" alt="" width="300" data-src="//www.creatingwithourcreator.net/hosted/images/2b/a5bed8cb8e4c9cb66a2427f517e2ab/CWOC-Blue-logo---SMALL.jpg" tabindex="0">
</span>
<br>
<div class="description">
    <p>The only video art tutorial series based on the Genesis</p>
    <p>creation account seeking to bring Christian spirituality</p>
    <p>back into the arts.</p>
</div>
<br>
<h2>What do you need tutorials for?</h2>

<ol class="tutorial-selector">
    <li><button onclick="" class="btn btn-primary m-2">test</button></li>
    <li><button onclick="" class="btn btn-primary m-2">test</button></li>
    <li><button onclick="" class="btn btn-primary m-2">test</button></li>
</ol>